{% extends 'base.html.twig' %}

{% block title %}Registration to TaskCreator{% endblock %}

{% block body %}
    <h1>Register new account for TaskCreator</h1>
<p><Please fill up all the fields required for registering you in to the system!/p>
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Register new account</button>
    {{ form_end(registrationForm) }}
{% endblock %}